html, body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background-color: whitesmoke;
   
}

.container{
    border: 8px solid white;
   background:  linear-gradient(90deg, #851CA2,#CB14AC );
    font-family: 'Roboto Mono', monospace;
    margin: 40px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    max-width: 1000px;
    
   
}

.input{
    padding: 40px;
}


input{

    font-weight: bold;
     border: transparent;
     width: 350px;
     font-size: 80px;
     background: transparent;
     text-align: center;
     opacity: 0.6;
     color: white;

     font-family: 'Roboto Mono', monospace;
}

select{
    width: 100px;
    height: 30px;
    font-family: 'Roboto Mono', monospace;

}

/*button{
     width: 140px;
    height: 53px;
     outline: none;
     font-family: 'Roboto Mono', monospace;
    background-color: white;
    color: #851CA2;
    font-weight: bold;

}
::placeholder{
    font-size: 15px;
}*/


h3{
    color: white;
    font-size: 35px;
}

.converter{
    background-color: #18244A;
    color: gray;
    padding: 35px;
    margin-top: 30px;

    
}
p{
    color: white;
}


@media screen and (max-width: 500px){
    .metric{
    width: 250px;
    text-align: center;
}

h3{
    font-size: 25px

 }

input{
    font-size: 50px;
    width: 250px;
}

}


